<ion-header>
  <ion-navbar color='primary'>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Photo</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <!-- <ion-segment [(ngModel)]="galleryType" color="primary">
        <ion-segment-button value="regular">
          Regular
        </ion-segment-button>
        <ion-segment-button value="pinterest">
          Pinterest
        </ion-segment-button>
      </ion-segment>
      -->
      <div >
        <!-- Responsive Layout with Ion Grid-->
        <!-- <ion-grid *ngSwitchCase="'regular'">
          <ion-row>
            <ion-col col-6 col-md-4 col-xl-3 *ngFor="let image of imagesArr">
              <div class="image-container" [style.background-image]="image.photoURL"></div>
            </ion-col>
          </ion-row>
        </ion-grid> -->
     
     
        <!-- More Pinterest floating gallery style -->

        <div class="images" >
            <div class="one-image" *ngFor="let image of imagesArr">
              <img [src]="image.photoURL">
            </div>
          </div>
     
      </div>
  <ion-fab bottom right #fab>
    <button ion-fab color="add" (tap)="doPhoto()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
