<!--
  Generated template for the TreatmentdetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title *ngIf="data">{{data.name}} {{data.surname}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


  <ion-list *ngIf="data">

    <ion-item>
        Name
        <ion-badge color="primary" item-end>{{data.name}}</ion-badge>
    </ion-item>

   
    <ion-item>
         Surname
        <ion-badge color="primary" item-end>{{data.surname}}</ion-badge>
    </ion-item>

    <ion-item>
      Email
     <ion-badge color="primary" item-end>{{data.email}}</ion-badge>
    </ion-item>

    <ion-item>
      Phone
     <ion-badge color="primary" item-end>{{data.phone}}</ion-badge>
    </ion-item>

    <ion-item>
      Mobile
     <ion-badge color="primary" item-end>{{data.mobile}}</ion-badge>
    </ion-item>


    <ion-item>
     Speciality
     <ion-badge color="primary" item-end>{{data.speciality}}</ion-badge>
    </ion-item>

    

    <ion-item>
        Address
      <ion-card>
        <ion-card-content text-wrap>
          {{data.address}}
        </ion-card-content>
      </ion-card>
    </ion-item>
    
  </ion-list>

   
</ion-content>
