<!--
  Generated template for the TreatmentdetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="primary">
      <ion-title *ngIf="data">Note Detail</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content class="card-background-page">
  
    
    <ion-list *ngIf="data">

        <ion-card >
          <img [src]="data.photoURL"/>
        </ion-card>
  
      <ion-item>
          Date
          <ion-badge color="primary" item-end>{{data.myDate | date: 'dd/MM/yyyy'}}</ion-badge>
      </ion-item>
  
     <ion-item>
          Note
        <ion-card>
          <ion-card-content text-wrap>
            {{data.note}}
          </ion-card-content>
        </ion-card>
      </ion-item>
      
    </ion-list>
  
     
  </ion-content>
  