// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #70a5c5,
  secondary:  #ca3b6d,
  danger:     #f53d3d,
  light:      #ffffff,
  bordercolor:#ffffff,
  dark:       #222,
  Enregistrer :  #d9d9da,
  Bilanheader: #c8000A,
  Addpage: #385b70,
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
$segment-button-ios-height:4.3rem;
$segment-button-ios-line-height:4.1rem;
$segment-button-ios-border-radius:0;
$segment-button-ios-font-size:1.4rem;
$segment-button-ios-border-width:0;
$button-ios-border-radius:0;
$alert-ios-button-main-font-weight:normal;
$alert-ios-button-font-size:15px;
$text-input-placeholder-color:#666;
$toolbar-ios-height:55px;


// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
