ion-content{
  background-color: #f3f8fb!important;
textarea { height: 20vh; }
}

h3{
    font-size: 1.7rem;
    font-weight: normal;
}
.back-button-ios{
    margin-left: 5px;
    .back-button-icon-ios {
       font-size: 2.3rem;
    }
}
.bar-button-ios {
    font-size: 1.4rem;
}
