// Comfortaa light
@font-face {
    font-family: Comfortaa;
    src: url(../assets/fonts/Comfortaa/Comfortaa-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
}

// Comfortaa Regular
@font-face {
    font-family: Comfortaa;
    src: url(../assets/fonts/Comfortaa/Comfortaa-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

// Comfortaa Bold
@font-face {
    font-family: Comfortaa;
    src: url(../assets/fonts/Comfortaa/Comfortaa-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}
